<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drawdown API</title>
  </head>
  <body>
    <h1>Drawdown API</h1>
    <ul>
      <li>For API documentation, please see <a href="{{ repo }}">the project repository</a></li>
      <li>The Drawdown API project is licenced under the <a href="{{ repo }}/blob/master/LICENSE">GNU Affero GPL</a>.</li>
      <li><a href="{{ repo }}/tags">Full source code is available for download.</a></li>
    </ul>
  </body>
</html>